@font-face {
  font-family: 'porta';
  src: url("../fonts/pluton.eot?49924914");
  src: url("../fonts/pluton.eot?49924914#iefix") format("embedded-opentype"), url("../fonts/pluton.woff?49924914") format("woff"), url("../fonts/pluton.ttf?49924914") format("truetype"), url("../fonts/pluton.svg?49924914#porta") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'porta';
    src: url('../font/porta.svg?49924914#porta') format('svg');
  }
}
*/
[class^="plu-icon-"]:before, [class*=" plu-icon-"]:before {
  font-family: "porta";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* you can be more comfortable with increased icons size */
  /*font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.plu-icon-plus:before {
  content: '\e826'; }

/* '' */
.plu-icon-email:before {
  content: '\e825'; }

/* '' */
.plu-icon-cog:before {
  content: '\e823'; }

/* '' */
.plu-icon-ok:before {
  content: '\e80a'; }

/* '' */
.plu-icon-cancel:before {
  content: '\e80b'; }

/* '' */
.plu-icon-calendar:before {
  content: '\e10b'; }

/* '' */
.plu-icon-help-circled:before {
  content: '\e81a'; }

/* '' */
.plu-icon-location:before {
  content: '\e81b'; }

/* '' */
.plu-icon-left-open:before {
  content: '\e804'; }

/* '' */
.plu-icon-right-open:before {
  content: '\e803'; }

/* '' */
.plu-icon-up-open:before {
  content: '\e805'; }

/* '' */
.plu-icon-menu-1:before {
  content: '\e800'; }

/* '' */
.plu-icon-link-ext:before {
  content: '\e822'; }

/* '' */
.plu-icon-menu:before {
  content: '\e801'; }

/* '' */
.plu-icon-mail-alt:before {
  content: '\e81c'; }

/* '' */
.plu-icon-angle-left:before {
  content: '\e81e'; }

/* '' */
.plu-icon-angle-right:before {
  content: '\e81f'; }

/* '' */
.plu-icon-angle-up:before {
  content: '\e820'; }

/* '' */
.plu-icon-angle-down:before {
  content: '\e821'; }

/* '' */
.plu-icon-desktop:before {
  content: '\e814'; }

/* '' */
.plu-icon-mobile:before {
  content: '\e81d'; }

/* '' */
.plu-icon-calendar-empty:before {
  content: '\e802'; }

/* '' */
.plu-icon-github-circled:before {
  content: '\e811'; }

/* '' */
.plu-icon-vimeo-circled:before {
  content: '\e808'; }

/* '' */
.plu-icon-twitter-circled:before {
  content: '\e807'; }

/* '' */
.plu-icon-facebook-circled:before {
  content: '\e80e'; }

/* '' */
.plu-icon-gplus-circled:before {
  content: '\e80d'; }

/* '' */
.plu-icon-pinterest-circled:before {
  content: '\e809'; }

/* '' */
.plu-icon-linkedin-circled:before {
  content: '\e806'; }

/* '' */
.plu-icon-dribbble-circled:before {
  content: '\e80f'; }

/* '' */
.plu-icon-stumbleupon-circled:before {
  content: '\e810'; }

/* '' */
.plu-icon-lastfm-circled:before {
  content: '\e812'; }

/* '' */
.plu-icon-skype-circled:before {
  content: '\e813'; }

/* '' */
.plu-icon-globe:before {
  content: '\e815'; }

/* '' */
.plu-icon-award:before {
  content: '\e816'; }

/* '' */
.plu-icon-user:before {
  content: '\e818'; }

/* '' */
.plu-icon-users:before {
  content: '\e819'; }

/* '' */
.plu-icon-chart-bar:before {
  content: '\e80c'; }

/* '' */
.plu-icon-phone:before {
  content: '\e824'; }

/* '' */
.plu-icon-megaphone:before {
  content: '\e817'; }

/* '' */
.plus-icon-youtube-circled {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-image: url(../images/youtube_circled.png);
  background-repeat: no repeat;
  background-size: 55px 55px;
  vertical-align: bottom; }

