<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	<link rel="stylesheet" type="text/css" href="$css_folder/pluton.css" />
	<link rel="stylesheet" type="text/css" href="$css_folder/jquery.cslider.css" />
	<link rel="stylesheet" type="text/css" href="$css_folder/jquery.bxslider.css" />
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">

		#if (!$is_signed_in)
			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer class="footer plu" id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
	<!-- ScrollUp button start -->
    <div class="scrollup">
        <a href="#">
            <i class="plu-icon-up-open"></i>
        </a>
    </div>
    <!-- ScrollUp button end -->
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<script>
AUI().applyConfig({
    modules: {
        'jquery': {
            fullpath: '$javascript_folder/jquery.min.js'
        },
        'jquery-mixitup': {
            fullpath: '$javascript_folder/jquery.mixitup.js',
            requires: ['jquery']
        }     
    }
});
</script>
<script type="text/javascript" src="$javascript_folder/jquery.min.js"></script>
<script type="text/javascript" src="$javascript_folder/jquery.inview.js"></script>
<script type="text/javascript" src="$javascript_folder/jquery.mixitup.js"></script>
<script type="text/javascript" src="$javascript_folder/modernizr.custom.js"></script>
<script type="text/javascript" src="$javascript_folder/jquery.cslider.js"></script>
<script type="text/javascript" src="$javascript_folder/jquery.bxslider.js"></script>
<script type="text/javascript" src="$javascript_folder/jquery.placeholder.js"></script>
<script type="text/javascript" src="$javascript_folder/bootstrap.js"></script>
<!-- Load google maps api and call initializeMap function defined in main.js -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>
<script type="text/javascript" src="$javascript_folder/app.js"></script>

</body>

</html>