<div class="plu section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>${Title.getData()}</h1>
                    <p>${Description.getData()}</p>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="${Service_Image1.getData()}" alt="service 1">
                            </div>
                            <h3>${Service_Image1.Service_Title1.getData()}</h3>
                            <p>${Service_Image1.Service_Description1.getData()}</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="${Service_Image2.getData()}" alt="service 2" />
                            </div>
                            <h3>${Service_Image2.Service_Title2.getData()}</h3>
                            <p>${Service_Image2.Service_Description2.getData()}</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="${Service_Image3.getData()}" alt="service 3">
                            </div>
                            <h3>${Service_Image3.Service_Title3.getData()}</h3>
                            <p>${Service_Image3.Service_Description3.getData()}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>